  button#thrash {
    background-color: transparent;
    border: none;
    float: right;
  }

  button#thrash:hover {
    /* background-color: #fb3200; */
    background-color: #ffffff;
  }

  a#item:hover {
    /* display: inline-flex; */
    background-color: #ffffff;
    color: rgb(249, 140, 76);
    border-radius: 25px;
  }

  input#file-input {
    box-shadow: 5px 10px;
    
    /*üstüste olması icin  display: block;  */
    /* display: block; */
    display: block;

    margin-bottom: 5px;
    background-color: transparent;
    color: transparent;
    border: none;
    outline: none;

  }

  input#file-input:hover {
    background-color: #ffffff;
    color: chocolate;
    border-radius: 25px;
    
  }

  div#ulFile {
    width: fit-content;
    height: fit-content;
    box-shadow: none;
    background-color: transparent;
    margin-bottom: 200px;

    padding: 0px;
  }


  .card-content {
    
    display: flex;
    justify-content: right;
    width: auto;
    height: auto;

    background-color: #12D2AC;
  }

  .button {
    
    display: inline block;
    width: 220px;
    height: 60px;
    border: 2px solid #fff;
    color: #fff;
    font-size: small;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    line-height: 56px;
    box-sizing: border-box;
    border-radius: 50px;
    background-color: transparent;
    outline: none;
  }

  .active {
    
    font-size: 0;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border-radius: 50%;
    border-left-color: transparent;
    animation: rotate 1.4s ease 0.5s infinite;
    
  }

  @keyframes rotate {
    0% {
      transform: rotate(360deg);
    }
  }
